body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("/imgs/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test {
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
}

.header {
  width: 50%;
  padding: 1rem;
  background-color: rgba(216, 216, 216, 0.3);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: gray;
}

.btns {
  margin-top: 1rem;
}

.titleBtn {
  width: 100px;
  background-color: gray;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  outline: none;
}

.titleBtn:hover {
  cursor: pointer;
  background-color: lightgray;
}

.main {
  padding: 1rem;
  width: 50%;
  height: 100%;
  margin-bottom: 1rem;
  background-color: rgba(80, 80, 80, 0.4);
}
